$main-color: #2196f3;
$secondary-color: #2195f36b;

h4, h2 {
    color: $main-color;
}

.search-bar {
    margin: 20px 10px;

    input {
        border: 1px solid $main-color;
        padding: 10px;
        outline: $secondary-color;
        font-size: 14px;
        width: 100%;
    }
    
    button {
        border: 1px solid $main-color;
        background-color: #fff;
        color: $main-color;
        transition: background-color .1s linear, color .1s linear;
        cursor: pointer;
        padding: 0 5px;
        margin-left: 10px;

        &:hover {
            background-color: $main-color;
            color: #fff;
        }
    }
}

.page-btn {
    cursor: pointer;
    border-radius: 100%;
    border: 1px solid $main-color;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 20px;
    width: 20px;
    background-color: $main-color;
    color: #fff;

    transition: background-color .1s linear, color .1s linear;
}

.current-page {
    color: $main-color;
    background-color: transparent;
}

.past-query {
    cursor: pointer;
    margin: 5px 0;
    padding: 5px;
    list-style-type: none;
    color: $main-color;
    border: 2px solid;
    box-sizing: border-box;
    width: 100%;
    transition: linear .1s color, linear .1s background-color;
    
    &:hover {
        color: #fff;
        background-color: $main-color;
    }
}

.side-bar, .search-results {
    padding: 10px;
}

.search-results {
    ol {
        padding-left: 30px;
        li {
            a {
                text-decoration: none;
                color: $main-color;
                transition: color .1s linear;

                &:hover {
                    color: $secondary-color;
                }
            }

            list-style-type: circle;
            margin: 10px 0;
        }
    }
}